table {
    background-color: white;
}

td {
    height: 280px;
    width: 1000px;
    text-align: center;
}

.row1 {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.col1 {
    border-left: 1px solid black;
    border-right: 1px solid black;
}
